{% extends "base.html" %} {% block title %}Главная страница{% endblock %} {%
block content %}
<h1>Главная страница</h1>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
<li>
  <loren5></loren5>
</li>
{% endblock %}
